body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: $black;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $black;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;

  &__contact {
    font-weight: 500;
    border: 2px solid $black;
    margin: 0 25px 0 20px;
    padding: 15px 25px 16px 19px;
    position: relative;
  }

  &__contact::before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    background: linear-gradient(90deg, #00ff07, #00fff8);
  }

  &__contact:hover::before {
    transition: top left 0.5s ease-in-out;
    top: 0px;
    left: 0px;
  }

  &__contact::after {
    content: '\2192';
    display: inline-block;
    margin-left: 20px;
  }

  &__link {
    padding: 55px 20px;
    margin: 0;
  }

  &__link:hover {
    transition: color 0.15s ease-in-out;
    color: #4fff00;
  }
}

.main {
  @include large-screen;

  &__title {
    font-size: 3.75rem;
    font-weight: 700;
    @include col-12;
  }

  &__location {
    font-size: 1.25rem;
    font-weight: 300;
    @include col-12;
  }

  &__img {
    @include col-12;
    height: 450px;
    margin-top: 90px;
    background: url('/assets/Junior-Developers-oglas_eafcc47d2eac9b34493eba0289cfb02f.webp');
    background-size: cover;
    background-position: center;
  }

  &__section {
    grid-column: 1 / 9;
    margin-top: 100px;
    padding-left: 100px;

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.4;
    }

    p,
    li {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 30px;
    }

    &__article {
      margin: 60px auto;
    }
  }
}

.footer {
  background-color: $black;
  color: white;

  &__line {
    margin: 50px 0;
  }

  &__logo {
    img {
      width: 40px;
      height: 40px;
    }
  }

  h4 {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 50px;
    background-image: linear-gradient(90deg, #00ff07, #00fff8);
    color: transparent;
    -webkit-background-clip: text;
  }

  &__links {
    border-top: 1px solid #242424;

    h1 {
      font-size: 3.125rem;
      line-height: 64px;
      font-weight: 700;
    }

    p {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 34px;
    }
  }

  &__newsletter {
    margin-top: 50px;
    border-top: 1px solid #242424;
    padding: 40px 0;

    p {
      font-weight: 400;
      font-size: 1.25rem;
    }

    &__sub {
      display: flex;
      justify-content: space-between;
    }

    input {
      border: none;
      background-color: $black;
      color: white;
      font-size: 1.25rem;
      width: 500px;
    }

    input::placeholder {
      color: #242424;
    }

    button {
      z-index: 0;
      cursor: pointer;
      font-size: 16px;
      padding: 15px 25px 16px 19px;
      border: 2px solid white;
      background-color: $black;
      color: black;
      font-size: 1rem;
      font-weight: 700;
      position: relative;
    }

    button::before {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: -5px;
      left: -5px;
      background: linear-gradient(90deg, #00ff07, #00fff8);
    }

    button:hover::before {
      transition: top left 0.5s ease-in-out;
      top: 0px;
      left: 0px;
    }

    button::after {
      content: '\2192';
      display: inline-block;
      margin-left: 20px;
    }
  }

  &__copy {
    border-top: 1px solid #242424;
    padding-top: 30px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #a1aeb7;
  }

  &__wrapper {
    @include flex-full;
  }
}
