@mixin large-screen {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    width: 1360px;
    margin: 0 auto;
  }
}

@mixin col-12 {
  grid-column: 1 / 13;
}

@mixin flex-full {
  display: flex;
  flex-direction: column;
  width: 1360px;
  margin: 0 auto;
  padding: 0 100px;
}
